@import "vars";
@import "breakpoints";
@import "fonts/fonts";

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Plus Jakarta Sans, ObjectSans,
    Poppins, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--header-max-height) + 2rem);
  font-size: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  color: var(--light);
  background: var(--bg-gradient);
  overflow-x: hidden;
}

body,
#__next {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: var(--wrapper-width);
  max-width: 100%;
  margin: auto;
}

.padding-x {
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
}

.hide-for-mobile {
  @include notTablet {
    display: none !important;
  }
}

.hide-for-desktop {
  @include tablet {
    display: none !important;
  }
}

img {
  pointer-events: none;
}

.Home {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: var(--header-max-height) auto 2rem;
}

.bg-illustration {
  position: absolute;
  width: 10rem;
  height: 10rem;
  pointer-events: none;
  z-index: -1;
  opacity: 70%;

  &-hero {
    @include tablet {
      width: 45rem;
      height: 45rem;
    }
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@import "components/components";
