@import "vars";
@import "breakpoints";
@import "fonts/fonts";

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Plus Jakarta Sans, ObjectSans,
    Poppins, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

html {
  font-size: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  color: var(--light);
  background: var(--bg-gradient);
  min-height: 200vh;
}

body,
#__next {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: var(--wrapper-width);
  max-width: 100%;
  margin: auto;
}

.padding-x {
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
}

.hide-for-mobile {
  @include notTablet {
    display: none !important;
  }
}

.hide-for-desktop {
  @include tablet {
    display: none !important;
  }
}

img {
  pointer-events: none;
}

.main-text {
  color: var(--light);
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;

  strong {
    font-family: Migra;
    text-transform: lowercase;
    letter-spacing: -2px;
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 5px 10px var(--main-opacity-2);

    &.cap {
      text-transform: capitalize;
    }
  }

  @include tablet {
    font-size: 50px;
  }
  @include desktop {
    font-size: 80px;
  }
}

.Home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
  @include tablet {
    row-gap: 7rem;
  }
  @include desktop {
    row-gap: 10rem;
  }
}

@import "components/components";
