.Header {
  position: fixed;
  z-index: 1337;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: var(--header-min-height);
  height: max-content;
  max-height: var(--header-max-height);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid transparent;

  .Navigation {
    display: none;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;

    @include desktop {
      display: flex;
    }

    li {
      a {
        position: relative;
        font-size: 0.875rem;
        font-weight: 700;
        text-transform: uppercase;
        transition: all 600ms var(--transition);

        &::after {
          content: "";
          position: absolute;
          top: calc(100% + 4px);
          left: 0;
          width: 0;
          height: 4px;
          background: var(--primary-gradient);
          border-radius: 50px;
          transition: all 600ms var(--transition);
          box-shadow: 0 5px 10px var(--main);
        }
      }
      &.active a,
      &:hover a {
        opacity: 80%;
        &::after {
          width: 100%;
        }
      }
    }
  }

  &.with-bg {
    border-bottom-color: var(--gray-800);
    background-color: var(--black-opacity-9);
    @supports (backdrop-filter: blur(6px)) {
      background-color: var(--black-opacity-7);
      backdrop-filter: saturate(180%) blur(8px);
    }
  }
  &-Logo {
    max-width: 150px;
  }
}
