.Reviews.Section {
  .ReviewItems-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 2rem;
    row-gap: 10rem;
    flex-wrap: wrap;
    @include tablet {
      flex-direction: row;
    }
    margin-top: 6rem;

    .ReviewItem {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-width: 300px;
      background: var(--dark-gradient);
      padding: 8rem 2rem 2rem 2rem;
      border-radius: var(--border-radius);

      img {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 0;
        max-width: 12rem;
        min-width: 6rem;
      }

      @include tablet {
        flex: 1;
      }

      h3,
      p,
      article {
        text-align: center;
      }

      h3 {
        font-weight: 600;
        font-size: 1.25rem;

        @include tablet {
          font-size: 1.5rem;
        }
      }

      p,
      article {
        font-size: 14px;
        opacity: 80%;
      }

      article {
        margin: 1.25rem 0 1.5rem;
        @include tablet {
          font-size: 16px;
        }
      }

      .stars-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
        margin-top: 0.5rem;

        svg {
          font-size: 1rem;
          color: var(--main);
        }
      }
    }
  }
}
