.Text.Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-weight: 800;
    text-align: center;
    line-height: 1.25;
    font-size: 28px;
    @include tablet {
      font-size: 40px;
      max-width: 80%;
    }
    @include desktop {
      font-size: 60px;
      max-width: 70%;
    }
    &,
    * {
      font-family: Migra;
    }
    strong {
      background: var(--primary-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0 5px 15px var(--main-opacity-4);
    }
    b {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 2rem;
        height: 2rem;
        background-image: url(/assets/illustrations/star.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: calc(100% - 0.75rem);
        left: calc(100% - 0.45rem);
        @include tablet {
          width: 3rem;
          height: 3rem;
          bottom: calc(100% - 1rem);
          left: calc(100% - 0.75rem);
        }
        @include desktop {
          width: 4rem;
          height: 4rem;
          bottom: calc(100% - 1.5rem);
          left: calc(100% - 1rem);
        }
      }
    }
  }
  p {
    font-size: 14px;
    margin-top: 1rem;
    font-weight: 300;
    @include tablet {
      font-size: 16px;
    }
    @include desktop {
      font-size: 18px;
    }
  }
}
